<p>
    Oi! Sou porto-alegrense, libriano, nascido em outubro, 26 anos.
  </p>

  <p>
    Estudei meu ensino fundamental e médio no Colégio Sévigné.
  </p>
  
  <p>
    Hoje, sou desenvolvedor concursado, e gosto muito do que eu faço!
  </p>
  
  <p>
    Minhas comidas favoritas são italianas: massas, pizzas, lasanha,...
  </p>
  
  <p>
    Amo música, principalmente rock.
  </p>
  
  <p>
    E, claro, sou gremista que nem tu.
  </p>
  
  <p>
    Admiro mulheres incríveis, inteligentes e lindas como tu, Miriam. Poder conversar contigo e compartilhar momentos bons é maravilhoso.
  </p>
